.content {
    background-color: #000;
    height: 95vh;
    display: flex;
    flex-direction: column;
    width: 100%;
}

header {
    height: 6vh;
    width: 100%;
    text-align: center;
    color: #fff;
}

h1 {
    font-size: 2.5rem;
    padding-bottom: .5rem;
}

main {
    width: 100%;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.formFields {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 74vh;
    padding-top: 1rem;
}

select{
    color: red;
    background-color: #000;
    border: 0;
    border-bottom: 1px solid lightgrey;
    height: 2rem;
    font-size: 1.5rem;
    width: 50%;
    margin-bottom: 2rem;
}

textarea {
    color: red;
    border: 0;
    width: 70%;
    height: 50%;
    font-size: 1.5rem;
}

textarea::-webkit-input-placeholder {
    color: red;
}

.formSubmit {
    width: 100%;
    height: 20vh;
    color: #fff;
    font-size: 2rem;
    background-color: #000;
    border: 0;
    cursor: pointer;
}

* {
    box-sizing: border-box;
}