<header>
  <h1>Recent Encounters</h1>
  <p>Seen an Alien? Report it!</p>
</header>

<main>
  <ul>
    <li *ngFor="let encounter of encountersList">
      <p>{{ encounter.date }}</p>
      <p>{{ encounter.colonist.name }} - {{ encounter.atype }}: {{ encounter.action }}</p>
      <a href="/encounter/{{encounter.id}}">View Comments</a>
    </li>
  </ul>
</main>

<footer>
  <a routerLink="/report" routerLinkActive="active">
    <div class="reportEncounterLink">Report Encounter</div>
  </a>
</footer>