<div class="content">
  <header><h1>Register</h1></header>
  <main>
    <form [formGroup]="registerForm">
      <div class="formFields">
        <input type="text" placeholder="Name" formControlName="name" />
        <input type="number" min="0" placeholder="Age" formControlName="age"/>
        <select formControlName="job_id">
          <option [value]="NO_JOB_SELECTED">--- Select a Job ---</option>
          <option *ngFor="let job of jobsList" [value]="job.id">{{ job.name }}</option>
        </select>
      </div>
      <button class="formSubmit">Check In</button>
    </form>  
  </main>
</div>